<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {{#if cur_user}}
      <h1>Hey <span style="color: red;">{{cur_user.username}}</span></h1>
      {{else}}
      <h1>Homepage</h1>
      {{/if}}
    </div>
  </div>
</div>
