<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Sign up form</h1>
      <form name="sign-up" action="/sign-up" method="post">
          <div class="form-group">
              <label for="inputFirstName">First Name</label>
              <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="First Name">
          </div>
          <div class="form-group">
              <label for="inputLastName">Last Name</label>
              <input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="Last Name">
          </div>
          <div class="form-group">
              <label for="inputUsername">Username</label>
              <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username">
          </div>
          <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email">
          </div>
          <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
    </div>
  </div>
</div>
